.intro {
  margin: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.dark {
  background-color: #282c34;
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  /* border: red solid 1px; */
}
.font-dark {
  color: #282c34;
}
.light {
  background-color: white;
  width: 100%;
  /* height: 100vh; */
  /* min-height: 100vh; */
  /* height: 300px; */
}
.center {
  text-align: center;
}
.mobileMenuContainer {
  width: 100px;
  left: 50%;
  margin-left: -50px;
  position: fixed;
  display: none;
  justify-content: center;
  z-index: 1;
}
@media only screen and (max-width: 700px) {
  .mobileMenuContainer {
    display: flex;
  }
  .navigation {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .mobileMenu {
    display: flex;
  }
  .dark {
    height: 100%;
    /* border:solid red 1px; */
  }
  .light {
    height: 100%;
  }
}

.font-light {
  color: white;
}
.all-content {
  display: flex;
  margin: auto;
}

.section-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* margin: 20vh auto; */
  margin: auto;
  width: 100%;
  /* height: 200px; */
  align-content: center;
  /* border: red solid 1px; */
}

.intro-text {
  color: white;
  margin: auto 20px;
  text-align: center;
}

.intro-text h1 {
  font-size: 50px;
}

.intro-text h3 {
  font-size: 30px;
}

.portrait {
  margin: auto 20px;
  border-radius: 100%;
  width: 50%;
  max-width: 400px;
  max-height: 400px;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  /* border: red solid 1px; */
}

.projectButtonContainer {
  margin: 10px auto;
}

.project-slider {
  display: none;
}
.viewAllProjectsLink {
  text-decoration: none;
  display: none;
}
.navigation a {
  /* text-decoration: none; */
  color: white;
  font-size: 30px;
  margin: 0 20px;
}
@media only screen and (max-width: 700px) {
  .navigation {
    display: none;
  }
  .viewAllProjectsLink {
    display: flex;
  }
  .project-slider {
    display: flex;
  }
}
@media only screen and (max-width: 500px) {
  .all-content {
    flex-direction: column-reverse;
    /* margin-top:20%; */
  }
  .section-container {
    /* height: 100%;
    margin: 10px 0; */
  }
  .portrait {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .navigation {
    margin-top: 30px;
  }
  .navigation a {
    font-size: 15px;
    font-weight: bold;
    margin: 0 10px;
  }
}
.title {
  font-size: 50px;
  text-align: center;
  /* border-bottom:solid black 10px; */
}
/* about me container css code */
.skills {
  width: 35%;
  max-width: 400px;
  /* border:solid black; */
  padding: 20px;
}
.aboutMePoints {
  margin: 0px 0;
  padding-left: 3px;
  font-weight: bold;
}
.description {
  width: 60%;
  max-width: 400px;
  padding: 20px;
}
@media only screen and (max-width: 500px) {
  .skills {
    width: 80%;
    padding: 0px;
    margin: auto;
  }
  .description {
    width: 80%;
    padding: 0px;
    margin: auto;
  }
}
/* projects container css code */
.cards-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  margin: auto;
  padding: 10px;
}
/* contact container css code */
.map-contact-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  /* height: 600px; */
  padding-bottom: 100px;
}
.googlemap {
  width: 400px;
  height: 400px;
  padding: 30px;
}

.form-container {
  /* height: 500px; */
  justify-content: center;
  /* margin:auto */
  /* border: red solid 1px; */
  padding: 30px 0;
}
.form {
  padding: 30px;
  /* width: 45%; */
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 700px) {
  .cards-container {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .cards-container {
    display: none;
  }
  .map-contact-container {
    flex-direction: column;
    padding: 0px;
  }
  .googlemap {
    width: 300px;
    height: 300px;
    padding: 0px;
    margin: auto;
  }
  .form-container {
    padding: 100px 40px;
  }
}

.contactAlertMessage {
  background: red;
  color: white;
  text-align: center;
  margin:0 10px;
  padding: 0 5px;
}

.contactAlertMessage h5 {
  margin: 0px;
}
.hidden {
  visibility: hidden;
}
